<html>
    <head>
        <title> Customer Entry Page</title>
        <h1> Customer Entry Form </h1>
    </head>
    <body>
        <form method="POST" action="/submit" name="form1">
            <label> Customer Code</label><br />
            <input type="text" name="cus_code"/><br />
            <label> Customer Last Name</label><br />
            <input type="text" name="cus_lname"/><br />
            <label> Customer First Name</label><br />
            <input type="text" name="cus_fname"/><br />
            <label> Customer Initial</label><br />
            <input type="text" name="cus_initial"/><br />
            <label> Customer Area Code</label><br />
            <input type="text" name="cus_areacode"/><br />
            <label> Customer Phone</label><br />
            <input type="text" name="cus_phone"/><br />
            <label> Customer Balance</label><br />
            <input type="text" name="cus_balance"/><br />
            <br/>
            <input type="submit" name ="btnSubmit" value="Submit"/>
        </form>
    </body>
</html>