<html>
    <head>
        <title> Customer Entry Form Submit Page</title>
    </head>
    <body>
        {%
            print("Customer information for " + inputName + " has been recorded.")
        %}
        </p>    
    
        <b> Thank you! </b>
        
        </p>
       
        <script>
          function GoToHomePage()
          {
            window.location = '/';  
            }   
        </script>
        
        <button onclick="GoToHomePage()">Add New</button>
    
    </body>
</html>